/* 
Future plans to stick the module on the upper right corner of the screen

.InfoFile {
    position: fixed;
    right: 2%;
    width: 20%;
}

@media(max-width:600px){
    .InfoFile {
        position: auto;
        right: auto;
        width: auto;
    }
} */

.InfoFile {
    padding: 5px;
}

.RunwayAndPositionIcons{
    display: flex;
    flex-flow: row;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}