.Headline {
    display:block;
    border-bottom:1px solid #ccc;
    padding-bottom: 5px;
    padding-right: 0px;
}

.Headlines {
    padding-right: 0px;
}

.Subtitle{
    color: #888;
    font-style: italic;
    font-size: 10pt;
}

.FileSectionComment {
    margin-top: 5px; 
}